<div id="<%= dom_id product %>">
  <pre><%= @product.inspect %></pre>
  <p class="my-5">
    <strong class="block font-medium mb-1">Id:</strong>
    <%= product.id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

</div>
